/*  Layout
 **********************************
  VideoPlayer       |  2 pie Chart2 
 **********************************
  3 tiles in column |  line Chart
 **********************************
*/
.outerContainer {
  display: flex;
  margin: 0%;
  flex-direction: column;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
}

.upperRow {
  display: flex;
  flex-direction: row;
  height: 33%;
  width: 100%;
  order: 0;
}

/* left part of up row, contains one videoplayer */
.videoPlayerBox {
  margin: 5px 5px 5px 5px;
  height: '100%';  /* need single quotation, don't know the reason */
  width: 33%;
}

/* right part of up row: contains two pie charts and one toggle */
.pieChartsBox {
  display: flex;
  flex-direction: row;
  // align-content: center;
  // vertical-align: middle;
  width: 66%;
  height: 100%;
}

.pieChart {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  // padding: 30px 0px 0px 0px;
}

.chartToggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 5%;
  // padding: 30px 0px 0px 0px;
}

////////////////////////////////////////////////////////////
.bottomRow{
  display: flex;
  height: 66%;
  width: 100%;
}

/* contains three tiles of data */
.bottomLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  // order: 0;
  // text-align: justify;
}

.tileBox {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: '20vh';
  padding: 5px 0px 0px 0px;
  border: solid 2px lightgray;
  border-radius: 5px;
  margin: 20px 0 10px 0;
  vertical-align: center;
  background-color: rgb(217, 238, 211);
}

.bottomRight {  
  display: flex;
  flex-direction: row;
  width: 66%;
  height: 100%;
  margin: 20px 0 10px 0;
}

.trafficChart {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 96%;
}

.video {
  padding: 0px 0px 5px 0px;
  height: 100%; 
  width: 100%;
}

.numberStats {
  height: 100%;
  width: 66%;
}

.sidebar {
  width: 50px;
}

.MuiFormGroup-root {
  position: absolute;
  top: 350px;
  right: 0px;
}

.all {
  position: absolute;
  top: 640px;
  right: 40px;
}

.dashpanel {
  position: relative;
}

.MuiExpansionPanelSummary-root {
  display: flex;
    padding: 0 24px 0 24px;
    min-height: 128px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.slideAnimation {
  opacity: 1;
  animation: 1s ease-out 0s 1 slideIn;
}

.slideExit {
  animation: 1.5s ease-out 0s 1 slideOut;
}
@keyframes slideIn{
  from {
    opacity: 0.5;
    /* transform: translateY(100%); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0%); */
  }
}
@keyframes slideOut{
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}